/*====================================================================*/
/*--------------- << _variables: Variables globales >> ---------------*/

$sm: 576; // => @media (min-width: 576px) { ... }
$md: 768; // => @media (min-width: 768px) { ... }
$lg: 1024; // => @media (min-width: 1024px) { ... }

:root {
	--col-nav-sm-back: #212529;
	--col-nav-md-back: #2125296b;
	--rojo: #fa0130;

	--padding-main-sm:80px ;
	--padding-main-md:110px ;

	--md: #{$md};
	--lg: #{$lg};
}
