header {
	.nav {
		background-color: var(--col-nav-sm-back);
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 30;
		@include flex-dir-al-jus(flex, column, x, x);

		&__cont-ppal {
			@include flex-dir-al-jus(flex, row, x, x);
			width: 100%;
			padding: 10px 15px;
		}
		&__cont-log {
			@include flex-dir-al-jus(flex, row, center, x);
			width: 70%;
		}

		&__logo {
			width: 15%;
			margin-right: 15px;
			border-radius: 50%;
			box-shadow: 0px 0px 5px var(--colFuente); 

		}
		&__nombre {
			color: var(--colFuente);
			font-size: 1.7rem;
			text-shadow: 2px 2px 5px var(--rojo); //rgb(10, 6, 6);
			white-space: nowrap; //evita que ocupe 2 líneas
		}
		&__cont-hamb {
			width: 40%;
			@include flex-dir-al-jus(flex, x, center, flex-end);
		}

		&__cont-menu {
			@include flex-dir-al-jus(flex, column, center, center);
			transition: padding-top 0.3s, padding-bottom 0.3s;
			letter-spacing: 1.2px;
			padding-bottom: 15px;
			&.ocultar {
				display: none;
			}
		}
	}
}

//===========================================
//$md: "768px" ver en varibales.scss;
@media (min-width: #{$md}px) {
	header {
		.nav {
			padding: 20px;
			transition: padding-top 0.3s, padding-bottom 0.3s;
			border: none;
			background-color: var(--col-nav-md-back);
			max-height: 120px;
			@include flex-dir-al-jus(flex, row, x, x);

			&__cont-ppal {
				width: 60%;
				padding: 0px;
			}

			&__logo {
				width: 50px;
				box-shadow: 5px 5px 15px var(--col-footer-back);
			}
			&__nombre {
				font-size: 2.5rem;
				width: 100%;
				text-shadow: 5px 5px 5px var(--col-footer-back);
			}
			&__cont-hamb {
				display: none;
			}

			&__cont-menu {
				width: 50%;
				padding-bottom: 0px;
				@include flex-dir-al-jus(flex, row, center, flex-end);
				&.ocultar {
					display: flex;
				}
			}
		}
	}
}
