/* Estilo básico para el Slider*/
.gallery {
	padding-top: 20px;
   font-size: 0.8rem;
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.gallery-container {
	display: flex;
	@include flex-dir-al-jus(flex, row, center, center);
	transition: transform 0.5s ease-in-out;
}

.gallery-item {
	
	min-width: 100%;
	box-sizing: border-box;
}

.gallery-item img {
	width: 100%;
	display: block;
}

/* Navegación del Slider */
.gallery-navigation {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: -50px;
}

.nav-button {
   font-size: 0.5rem;
   width: 50px;
	background-color: var(--col-footer-back);
	color: white;
	border: none;
	padding: 5px;
	cursor: pointer;
	border-radius: 5px;
}

.nav-button:hover {
	background-color: #005f5f;
}

/* @media (min-width: #{$md}px) {
	.gallery {
		width: 20%;
	}
} */
