// ================================
// Menú Aspirantes

.aspirante {
	min-height: calc(100vh - var(--padding-main-sm) - 180px);
	max-width: var(--max-width-cont-ppal);
	gap: 20px;
	padding: 15px 0px;
	width: 90%;
	height: 100%;
	color: var(--blanco);
	@include flex-dir-al-jus(flex, column, x, x);
	&.ocultar {
		display: none;
	}

	//Filtros aspirantes
	&__cont-filtros {
		height: 100%;
		width: 100%;
		@include flex-dir-al-jus(flex, column, x, x);
		@include caja;
	}
	&__filtro-encab {
		@include flex-dir-al-jus(flex, row, center, x);
		padding-bottom: 5px;
		margin-bottom: 5px;
	}

	&__titulos {
		@include titulos;
		width: 50%;
	}

	&__ocultar {
		width: 50%;
		cursor: pointer;
		font-size: 0.8rem;
		gap: 4px;
		@include flex-dir-al-jus(flex, row, center, flex-end);
	}

	&__form-filtro {
		border-top: 2px solid var(--blanco);
	}

	//----
	&__label {
		font-style: italic;
		padding-left: 5px;
	}
	&__cont-select {
		margin-top: 10px;
	}
	&__select {
		color: var(--negro);
		background-color: rgb(222, 217, 217);
		border-radius: 5px;
		width: 100%;
		height: 30px;
		border: 0;
	}
	&__select:hover {
		background-color: rgb(203, 201, 201);
		box-shadow: 0 0 1px 2px var(--negro);
	}

	&__select:focus {
		box-shadow: 0 0 1px 2px var(--negro);
		outline: none;
	}

	&__mns-seleccionar-filtros {
		margin: 20px 0px 5px 0px;
		animation: parpadeo 1s ease-in-out infinite; //"parpadeo" ver al final
		background-color: var(--blanco);
		color: var(--rojo);
		text-align: center;
		border-radius: 10px;
		&.ocultar {
			display: none;
		}
	}

	&__botones {
		background-color: var(--negro);
		@include flex-dir-al-jus(flex, row, center, center);
		padding: 5px 0px;
		border-radius: 5px;
		margin-top: 10px;
		font-size: 0.6rem;
	}

	//Listar aspirantes
	&__cont-sin-con-aspi {
		min-height: calc(100vh - var(--padding-main-sm) - 250px);
		@include caja;
		width: 100%;
	}
	&__encabezado {
		margin: 0px 5px;
		@include flex-dir-al-jus(flex, row, center, space-between);
	}
	&__titulo {
		font-size: 1.3rem;
		@include flex-dir-al-jus(flex, x, center, space-between);
	}

	&__btn-nueva-aspi-cont {
		@include flex-dir-al-jus(flex, x, x, flex-end);
		margin: 10px 2px;
	}

	&__deshab:disabled{
		background-color: rgb(245, 236, 236);
		color: gray;
	}
	&__deshab:disabled:hover{
		color: gray;
		background-color: rgb(213, 212, 212);
	}

	&__btn-mas {
		margin-right: 5px;
	}

	//Ssin aspirantes
	&__cont-sin-aspi {
		height: 85%;
		@include flex-dir-al-jus(flex, column, center, space-around);
		&.ocultar {
			display: none;
		}
	}
	&__img {
		margin: 15px;
		width: 65%;
		margin-bottom: 20px;
	}
	&__p-sin-aspi {
		color: var(--colRojo);
		font-weight: 300;
	}

	//CON aspirantes
	&__filtrado-por {
		font-size: 0.8rem;
		margin-bottom: 3px;
		padding: 5px;
		border-radius: 3px;
		font-weight: 300;
	}

	&__cont-card {
		display: grid;
		grid-template-columns: 1fr;
		gap: 5px;
		//estilos para CARD, ver card.scss
	}

	//================================== 576
	@media (min-width: #{$sm}px) {
		padding: 25px 0px;

		&__cont-card {
			grid-template-columns: 1fr 1fr;
		}
	}

	//================================== 768
	@media (min-width: #{$md}px) {
		padding: 10px 0px;
		max-width: var(--max-width-cont-ppal);
		width: 95%;
		margin: 0px 15px;
		@include flex-dir-al-jus(flex, row, x, center);

		&__cont-filtros {
			width: 40%;
		}
		&__btn-filtro {
			font-size: 0.6rem;
		}

		&__cont-sin-con-aspi {
			min-height: calc(100vh - var(--padding-main-sm) - 180px);
		}
		&__cont-card {
			grid-template-columns: 1fr 1fr;
		}
	}

	//================================== 1024
	@media (min-width: #{$lg}px) {
		width: 95%;
		&__btn-filtro {
			font-size: 0.8rem;
		}
		&__cont-card {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

//---------------------
@keyframes parpadeo {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
