/*====================================================================*/
/*--------------------------  << HOME  >>  ---------------------------*/

.ocultar {
	display: none;
}

.nota-sans {
	font-family: "Noto Sans";
	font-weight: 600;
}

body {
	background-color: var(--colFondoMain);
	min-height: 100%;
	font-family: "Montserrat";
	@extend .nota-sans;
	font-size: 1.8rem;
	background-color: var(--rojo);
}

.main {
	padding-top: var(--padding-main-sm);

	&__seccion {
		&.ocultar {
			display: none;
		}
	}

	@media (min-width: #{$md}px) {
		padding-top: var(--padding-main-md);
	}
}
