/*====================================================================*/
/*--------------------------  << HOME  >>  ---------------------------*/

.ocultar {
	display: none;
}

.nota-sans {
	font-family: "Noto Sans";
	font-weight: 600;
}

body {
	background-color: var(--colFondoMain);
	min-height: 100%;
	font-family: "Montserrat";
	@extend .nota-sans;
	font-size: 1.8rem;
	background-color: var(--rojo);
}

.main {
	@include flex-dir-al-jus(flex, x, center, center);
	padding-top: var(--padding-main-sm);
	min-height: calc(100vh - var(--padding-main-sm) - 20px);
	&__seccion {
		&.ocultar {
			display: none;
		}
	}

	@media (min-width: #{$md}px) {
		padding-top: var(--padding-main-md);
		min-height: calc(100vh - var(--padding-main-md) - (-30px));
	}
}
