.inicio {
	max-width: var(--max-width-cont-ppal);
	width: 90%;
	padding: 15px 0px;
	background-color: var(--col-nav-md-back);
	@include flex-dir-al-jus(flex, column, center, center);
   border-radius: 5px;
	&.ocultar {
		display: none;
	}

	&__cont-texto {
		padding: 20px 5px;
		width: 80%;
		color: white;
		font-weight: 200;
	}
	&__texto-titulo {
		font-size: 2.5rem;
      text-shadow: 5px 5px 5px rgb(6, 5, 5);
	}
	&__texto-frase {
		font-style: italic;
		font-size: 1rem;
      text-shadow: 5px 5px 5px rgb(6, 5, 5);
	}

	&__cont-carrusel {
		@include flex-dir-al-jus(flex, x, center, center);
		width: 50%;
	}

	@media (min-width: #{$md}px) {
		max-width: var(--max-width-cont-ppal);
		width: 100%;
		padding: 50px 0px;
		background-color: var(--col-nav-md-back);
		@include flex-dir-al-jus(flex, row, center, center);

		&__cont-texto {
			padding: 40px;
			width: 70%;
		}
		&__cont-carrusel {
			width: 30%;
		}
		&__texto-frase {
			font-size: 1.5rem;
		}
	}
}
