// ================================
// Menú Inicio

.inicio {
	margin: auto;
	max-width: var(--max-width-cont-ppal);
	width: 90%;
	height: 100%;
	padding: 15px 0px;
	background-color: var(--col-nav-md-back);
	@include flex-dir-al-jus(flex, column, center, center);
	border-radius: 5px;
	box-shadow: 0px 0px 15px var(--col-footer-back);
	&.ocultar {
		display: none;
	}

	&__cont-texto {
		padding: 20px 5px;
		width: 90%;
		color: var(--colFuente);
		font-weight: 200;
	}
	&__texto-titulo {
		font-size: clamp(2rem, 1.5945rem + 1.1244vw, 3rem);
		text-shadow: 5px 5px 5px rgb(6, 5, 5);
	}
	&__texto-frase {
		font-style: italic;
		font-size: clamp(0.5rem, -0.087rem + 5.7971vw, 1.2rem);
		text-shadow: 5px 5px 5px rgb(6, 5, 5);
	}

	&__cont-carrusel {
		@include flex-dir-al-jus(flex, x, center, center);
		width: 50%;
	}

	//-------------------------------
	@media (min-width: #{$sm}px) {
		margin: auto 15px;
		&__texto-titulo {
			font-size: 2rem;
		}
		&__texto-frase {
			font-size: 1.3rem;
		}
		&__cont-carrusel {
			width: 35%;
		}
	}

	//------------------------------------
	@media (min-width: #{$md}px) {
		max-width: var(--max-width-cont-ppal);
		width: 100%;
		padding: 50px 0px;
		margin: auto 15px;
		background-color: var(--col-nav-md-back);
		@include flex-dir-al-jus(flex, row, center, center);

		&__cont-texto {
			padding: 40px;
			width: 65%;
		}
		&__texto-titulo {
			font-size: clamp(2.8rem, 0.8764rem + 0.8989vw, 3.5rem);
			margin-bottom: 15px;
		}
		&__texto-frase {
			font-size: clamp(1.2rem, 0.8764rem + 0.8989vw, 2rem);
			line-height: 3rem;
		}
		&__cont-carrusel {
			width: 30%;
		}
	}
}
