// ================================
// Inscripcion de Aspirantes Crear-Editar-Borrar

.inscripcion {
	min-height: calc(100vh - var(--padding-main-sm) - 180px);
	margin: auto 15px;
	max-width: var(--max-width-cont-ppal);
	@include caja;
	width: 90%;
	&.ocultar {
		display: none;
	}

	&__cont-ppal {
		width: 100%;
		color: var(--negro);
		background-color: var(--blanco);
		border-radius: 4px;
	}

	&__titulos {
		font-size: 1.5rem;
		color: var(--blanco);
		padding: 10px;
		background-color: var(--negro);
		border-radius: 3px 3px 0px 0px;
		text-align: center;
	}

	&__subtit {
		margin: 20px 0px 0px 0px;
		background-color: rgb(230, 228, 228);
		text-align: center;
	}

	&__campo {
		margin: 10px 10px;

		&--cu {
			height: 25px;
			border: 1px solid var(--negro);
			background-color: rgb(230, 228, 228);
			border-radius: 5px;
			width: 100%;
			padding-left: 5px;
			text-transform: uppercase;
			font-size: 0.9rem;
		}
		&--cu-tArea {
			text-transform: uppercase;
			border-radius: 5px;
			resize: none;
			font-size: 0.9rem;
			border: 1px solid var(--negro);
			background-color: rgb(230, 228, 228);
			width: 100%;
			height: 40px;
			overflow-y: scroll;
		}

		&--cu-tArea:hover,
		&--cu:hover {
			background-color: rgb(203, 201, 201);
			box-shadow: 0 0 1px 2px var(--negro);
		}

		&--cu-ta:focus,
		&--cu:focus {
			box-shadow: 0 0 1px 2px var(--negro);
			outline: none;
		}
	}

	&__botones {
		background-color: var(--negro);
		@include flex-dir-al-jus(flex, row, center, center);
		padding: 10px 0px 10px 0px;
		border-radius: 0px 0px 3px 3px;
		gap: 10px;
		&.ocultar {
			display: none;
		}
	}

	&__btn {
		margin: 0px 10px;
	}

	&__cont-sec {
		width: 100%;
		@include flex-dir-al-jus(flex, column, x, x);

		&--cu {
			width: 93%;
			gap: 5px;
		}
	}

	&__cont-ter {
		width: 100%;
		@include flex-dir-al-jus(flex, row, x, space-between);

		&--cu {
			width: 49%;
			gap: 5px;
		}
	}

	//================================== 576
	@media (min-width: #{$sm}px) {
		// &__cont-ppal {
		// 	width: 50%;
		// }
	}

	//================================== 768
	@media (min-width: #{$md}px) {
		width: 70%;

		&__cont-ppal {
			width: 100%;
		}

		&__cont-sec {
			width: 100%;
			@include flex-dir-al-jus(flex, row, x, space-between);

			&--cu {
				width: 49%;
				gap: 5px;
			}
		}
	}
}

